<nav class="scroll-hide navbar navbar-expand-lg bg-light" style="overflow-x: inherit ; ">
    <div class="container-fluid">
        <!-- ------------navbar list----------------------------- -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- ----------- Data Binding-------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data Binding </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Theory</a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item" href="#">One way &raquo;</a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" href="#">View -> Component &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                            <a class="dropdown-item" href="#">Event Binding</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">View <-Component &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                            <a class="dropdown-item" href="#">Property Binding &raquo;</a>
                                            <ul class="dropdown-menu dropdown-submenu">
                                                <li>
                                                    <a class="dropdown-item" href="#">Class Binding</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Style Binding</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Attribute Binding</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">String Interpolation</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Two way &raquo;</a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" href="#">NgModel</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!------------------Life cycle hooks------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Life Cycle Hooks </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Theory</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Constructor</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnChanges">ngOnChanges </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnInit">ngOnInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngDoCheck">ngDoCheck </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterContentInit">ngAfterContentInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterContentChecked">ngAfterContentChecked </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfteViewInit">ngAfterViewInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterViewChecked">ngAfterViewChecked </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnDestroy">ngOnDestory </a>
                        </li>
                    </ul>
                </li>
                <!------------------Directives------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Directives </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="directives/theory">Theory</a>
                            <!-- <a class="dropdown-item" [routerLink]="['directives', 'theory']">Theory</a> -->
                        </li>
                        <li>
                            <hr />
                        </li>
                        <li>
                            <a routerLink="directives/component" class="dropdown-item">Component Directive</a>
                        </li>
                        <li>
                            <a class="dropdown-item"> Structural Directives &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a routerLink="directives/structural/built-in/ngIf" class="dropdown-item">ngIf</a>
                                </li>
                                <li>
                                    <a routerLink="directives/structural/built-in/ngFor" class="dropdown-item">ngFor</a>
                                </li>
                                <li>
                                    <a routerLink="directives/structural/built-in/ngSwitchCase" class="dropdown-item">ngSwitch case</a>
                                </li>
                                <hr>
                                <li>
                                    <a routerLink="directives/structural/custom" class="dropdown-item">Custom</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item">Attribute Directives &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a routerLink="directives/attribute/built-in/ngClass" class="dropdown-item">ngClass</a>
                                </li>
                                <li>
                                    <a routerLink="directives/attribute/built-in/ngStyle" class="dropdown-item">ngStyle</a>
                                </li>
                                <li>
                                    <a routerLink="directives/attribute/built-in/ngModel" class="dropdown-item">ngModel</a>
                                </li>
                                <hr>
                                <li>
                                    <a routerLink="directives/attribute/custom" class="dropdown-item">Custom</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!------------------Pipes------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Pipes</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="pipes/theory">Theory</a>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/date-pipe">Date Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/upper-case-pipe">Upper-case Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/lower-case-pipe">Lower-case Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/title-case-pipe">Title-case Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/slice-pipe">Slice Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/number-pipe">Number Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/percent-pipe">Percent Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/currency-pipe">Currency Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/json-pipe">JSON Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/async-pipe">Async Pipe</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/keyValue-pipe">keyValue Pipe</a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item" routerLink="pipes/custom">Custom Pipes</a>
                        </li>
                    </ul>
                </li>
                <!------------------Forms------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Forms</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="forms/theory" class="dropdown-item">Theory</a>
                        </li>
                        <hr>
                        <li>
                            <a routerLink="forms/template-driven-forms" class="dropdown-item">Template Driven Forms</a>
                        </li>
                        <li>
                            <a routerLink="forms/reactive-forms" class="dropdown-item">Reactive Forms</a>
                        </li>
                    </ul>
                </li>
                <!------------------Routing------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Routing</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="routing/theory">Theory</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="routing/inner-routing">Routing</a>
                        </li>
                    </ul>
                </li>
                <!------------------Template Elements------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Template Elements</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">Theory</a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item">ng-template</a>
                        </li>
                        <li>
                            <a class="dropdown-item">ng-content</a>
                        </li>
                        <li>
                            <a class="dropdown-item">ng-container</a>
                        </li>
                    </ul>
                </li>
                <!------------------Services and dependency injection------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Services & dependency injection</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">Theory</a>
                        </li>
                    </ul>
                </li>
                <!------------------Component Communication------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Component Communication</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">Theory</a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item">Parent to Child</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Child to parent &raquo;</a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item">@Output</a>
                                </li>
                                <li>
                                    <a class="dropdown-item">@ViewChild</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item">Siblings(C1-P-C2)</a>
                        </li>
                        <li>
                            <a class="dropdown-item">Through services</a>
                        </li>
                    </ul>
                </li>
                <!------------------RxJS------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">RxJS</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">Theory</a>
                        </li>
                    </ul>
                </li>
                <!------------------HTTP------------------------------->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">HTTP</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item">Theory</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!------------Search Input Field------------------------>
            <form class="d-flex input-field" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>
            <button class="btn btn-outline-success logout" type="button" (click)="logout()">Log out</button>
        </div>
    </div>
</nav>