<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data Binding </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Theory</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Life Cycle Hooks </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Theory</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Constructor</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnChanges">ngOnChanges </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnInit">ngOnInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngDoCheck">ngDoCheck </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterContentInit">ngAfterContentInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterContentChecked">ngAfterContentChecked </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfteViewInit">ngAfterViewInit </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngAfterViewChecked">ngAfterViewChecked </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="life-cycle-hooks/ngOnDestroy">ngOnDestory </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Directives </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Theory</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>