<div class="m-3 p-3 border border-primary">
    <h2>Child-E component (Child Component)</h2>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value="Anil Kumar" disabled>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input value="anillakhlan2107@gmail.com" disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </form>
</div>