<div class="p-3 m-3 border border-info">
    <div class="card d-grid"></div>
    <span class="badge badge-info bg-primary">#novalidate</span>
    <span class="badge badge-info bg-primary">#Required</span>
    <span class="badge badge-info bg-primary">#Minlength</span>
    <span class="badge badge-info bg-primary">#Maxlength</span>
    <span class="badge badge-info bg-primary">#Pattern</span>
    <span class="badge badge-info bg-primary">#Email</span>
    <span class="badge badge-info bg-primary">#Validation</span>

    <div class="p-3 m-3 border border-info">
        <h3>Built-in Validators</h3>
        <div class="p-3 m-3 border border-info">
            <h3>Required, Minlength, Maxlength,Pattern,Email Validation</h3>
        </div>
    </div>
    <div class="p-3 m-3 border border-info">
        <form #contactForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <p>
                <!-- reuired validatation & minlength------------- -->
                <label for="firstname">First Name </label>
                <input type="text" id="firstname" minlength="2" required name="firstname" class="form-control" [(ngModel)]="contact.firstname">
            </p>
            <!-- maxlength Validation && pattern validation------------------------- -->
            <p>
                <label for="lastname">Last Name </label>
                <input type="text" id="lastname" maxlength="5" pattern="^[a-zA-Z]+$" name="lastname" class="form-control" [(ngModel)]="contact.lastname">
            </p>
            <!-- ---Email Validation-------------------------------------------------- -->
            <p>
                <label for="email">email </label>
                <input type="text" id="email" name="email" class="form-control" [(ngModel)]="contact.email">
            </p>

            <span>
            <label for="gender">Geneder </label>
            <div class="form-check">
                <input type="radio" value="male" id="gender" name="gender" class="form-check-input" [(ngModel)]="contact.gender">
                <label class="form-check-label" for="gender">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" value="female" id="gender" name="gender" class="form-check-input" [(ngModel)]="contact.gender">
                <label class="form-check-label" for="gender">Female</label>
            </div>
        </span>
            <span>
            <div class="form-check">
                <input type="checkbox" id="isToc" name="isToc" class="form-check-input" [(ngModel)]="contact.isToc">
                <label class="form-check-label" for="isToc">Accept TOC</label>
            </div>
        </span>
            <p>
                <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success mt-3">Submit</button>
            </p>
        </form>
    </div>
    <div class="p-3 m-3 border border-info">
        <h3>Form with validation Errors</h3>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <p>
                <!-- reuired validatation & minlength------------- -->
                <label for="firstname">First Name </label>
                <input type="text" id="firstname" minlength="2" required name="firstname" class="form-control" #firstname="ngModel" [(ngModel)]="contact.firstname">
                <!-- Validation Error -->

            </p>
            <!-- <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">
                Invalid First Name
                <div *ngIf="firstname.errors['required']">
                    First Name is required
                </div>
                <div *ngIf="firstname.errors.minlength">
                    First Name Minimum Length is {{firstname.errors.minlength?.requiredLength}}
                </div>
            </div> -->
            <!-- maxlength Validation && pattern validation------------------------- -->
            <p>
                <label for="lastname">Last Name </label>
                <input type="text" id="lastname" maxlength="5" pattern="^[a-zA-Z]+$" name="lastname" class="form-control" [(ngModel)]="contact.lastname">
            </p>
            <!-- ---Email Validation-------------------------------------------------- -->
            <p>
                <label for="email">email </label>
                <input type="text" id="email" name="email" class="form-control" [(ngModel)]="contact.email">
            </p>

            <span>
        <label for="gender">Geneder </label>
        <div class="form-check">
            <input type="radio" value="male" id="gender" name="gender" class="form-check-input" [(ngModel)]="contact.gender">
            <label class="form-check-label" for="gender">Male</label>
        </div>
        <div class="form-check">
            <input type="radio" value="female" id="gender" name="gender" class="form-check-input" [(ngModel)]="contact.gender">
            <label class="form-check-label" for="gender">Female</label>
        </div>
    </span>
            <span>
        <div class="form-check">
            <input type="checkbox" id="isToc" name="isToc" class="form-check-input" [(ngModel)]="contact.isToc">
            <label class="form-check-label" for="isToc">Accept TOC</label>
        </div>
    </span>
            <p>
                <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success mt-3">Submit</button>
            </p>
        </form>
    </div>
</div>