<nav class="navbar navbar-default">
    <ul class="nav navbar-nav" style="display: flex; flex-direction: row;">
        <li class="nav-item" style="margin-left:28px"><a class="nav-link" [routerLink]="['home']">Home</a></li>
        <li class="nav-item" style="margin-left:28px"><a class="nav-link" [routerLink]="['products']">Product</a></li>
        <li class="nav-item" style="margin-left:28px"><a class="nav-link" [routerLink]="['contact']">Contact us</a></li>
        <li class="nav-item" style="margin-left:28px"><a class="nav-link" [routerLink]="['users']">Users</a></li>

    </ul>

</nav>
<router-outlet></router-outlet>