<div class="box">
    <h3>What is Angular Routing</h3>
    <hr />
    <p>
        Routing allows you to move from one part of the application to another part or one View to another View.
        <br /> In Angular, Routing is handled by the Angular Router Module.
    </p>
</div>
<div class="box">
    <h3>Components of Angular Router</h3>
    <hr />
    <div class="text-">
        <span class="badge rounded-pill bg-primary ms-2">Router</span>
        <span class="badge rounded-pill bg-secondary ms-2">Route</span>
        <span class="badge rounded-pill bg-success ms-2">Routes</span>
        <span class="badge rounded-pill bg-danger ms-2">RouterOutlet</span>
        <span class="badge rounded-pill bg-warning text-dark ms-2">RouterLink</span>
        <span class="badge rounded-pill bg-info text-dark ms-2">
      ActivatedRoute
    </span>
        <span class="badge rounded-pill bg-light text-dark ms-2">RouterState</span>
        <span class="badge rounded-pill bg-dark ms-2">Routes</span>
    </div>
</div>
<div class="box">
    <h3>Steps for configure angular routing</h3>
    <hr />
    <div>
        <ul>
            <li>
                Set the
                <base href />
            </li>
            <li>Define routes for the view</li>
            <li>Register the Router Service with Routes</li>
            <li>Map HTML Element actions to Route</li>
            <li>Choose where you want to display the view</li>
        </ul>
    </div>
</div>