/* You can add global styles to this file, and also import other style files */

h3 {
    font-weight: 600;
    font-family: serif;
}

p {
    font-weight: 400;
    color: #0c0b0b;
    font-size: larger;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px;
    border-radius: 3px;
    border-style: dashed;
}