<div class="container">
    <h1 class="text-center my-5">User Detail</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">First name: {{ user.first_name }}</h5>
                    <h5 class="card-title">Last name: {{ user.last_name }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Gender: {{ user.gender }}</p>
                    <p class="card-text">Phone Number: {{ user.mobile_number }}</p>
                </div>
            </div>
        </div>
    </div>
</div>